#hoi {
    text-align: center ;
    font-family: Verdana ;
    color: white ;

    background-color:red ;
    text-align: center ;
    left: 0px ;
    right: 0px ;
    width: 100%;
    margin: auto ;
    padding: 15px ;
    margin-top: 0px ;
    padding-top: 30px ;
    top: 0px ;
    font-size: 3em;
}

#id2 {
    padding-top: 100px;
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-family: "Arial Nova", Arial, Helvetica, sans-serif;
    font-size: 3em;
    display: block;
    text-align: center;
}

img {
    width: 100px
}

